body {
  font-family: "Molengo", "Linux Biolinum", sans-serif;
  background-color: #191919;
  color: #DDD;
  font-size: 15pt;
}
article {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  background-color: #111;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 10px;
  padding-bottom: 30px;
}
hr {
  width: 50%;
  border-color: #F0BA59;
}
h1 {
  font-family: "El Messiri", "Molengo", "Linux Biolinum", sans-serif;
  color: #D14A6E;
  font-size: 400%;
  text-align: center;
}

h2 {
  color: #69BEB5;
  font-size: 150%;
}

ul.contents li {
  list-style: '::';

}

a {
  text-decoration: none;
  color: #F0BA59;
  font-weight: bold;
}

a:hover {
  color: #72E18E;
}

.contentnote {
  font-size: 80%;
  display: block;
  padding-left: 2rem;
  font-size: 0;
  transition: font-size 0.5s ease-in;
}

.contentnote.revealed {
  font-size: inherit;
}

nav {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  padding-top: 25px;
  padding-bottom: 40px;
}

nav .prev {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: left;
  margin-left: 11%;
}

nav .up {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}

nav .next {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: right;
  margin-right: 11%;
}

img#cover {
  width: calc(100% + 150px);
  margin-left: -75px;
}

img.logo {
  display: block;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.frontpagetitle {
  position: absolute;
  margin-top: 25px;
  margin-left: -25px;
  color: #5A002A;
  z-index: -1;
}
